---
import "../styles/global.css";
// TODO: ADD PROPER LAYOUT HERE, SOME RESPONSIVE STUFF AND WHATNOT
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Negua Organization</title>
	</head>
	<body>
		<slot />
	</body>
</html>

